<!DOCTYPE html>
<html>

<head>
    <title>口罩预约</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        .w {
            width: 600px;
            margin: auto;
        }
        
        body {
            background-image: url('/93.jpg');
        }
        
        a,
        a:active,
        a:visited {
            text-decoration: none;
            color: #000;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        .login .container {
            width: 610px;
            margin: 0 auto;
        }
        
        .login .login-form {
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .login form {
            width: 240px;
            margin-top: 40px;
            padding: 4px 84px 44px 84px;
            background: rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
        
        .login form input {
            width: 100%;
        }
        
        .login form .title {
            margin: 20px 0 5px;
            font-weight: bold;
        }
        
        .login form button {
            background: orange;
            width: 103%;
            margin: 24px 0 0 0;
            padding: 8px 20px;
            border: 0;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }
        
        .error {
            color: #df3033;
            margin-left: 10px;
        }
        
        .error_icon,
        .success_icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(../img/error.png) no-repeat;
            vertical-align: middle;
            margin-top: -2px;
        }
        
        .success {
            color: #40b83f;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="w login">

        <div class="container">
            <div class="login-form">
                <div style="text-align: center; font-weight: bold; font-size: 24px;">口罩预约系统</div>
                <form action="/admin/adminlogin" method="post">
                    <div class="title">管理员账号</div>
                    <input type="phone" name="adminnum" class="tel" required/>
                    <div class="title">密码</div>
                    <input type="password" name="apassword" required/>
                    <button type="submit">登录</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {
            var regtel = /^1[3|4|5|7|8]\d{9}$/; // 手机号码的正则表达式
            var tel = document.querySelector('.tel');
            regexp(tel, regtel); // 手机号码
            // 表单验证的函数
            function regexp(ele, reg) {
                ele.onblur = function() {
                    if (reg.test(this.value)) {
                        // console.log('正确的');
                        this.nextElementSibling.className = 'success';
                        this.nextElementSibling.innerHTML = '<i class="success_icon"></i> 恭喜您输入正确';
                    } else {
                        // console.log('不正确');
                        this.nextElementSibling.className = 'success';
                        this.nextElementSibling.innerHTML = '<i class="error_icon"></i> 恭喜您输入正确 ';
                    }
                }
            };

        }
    </script>
</body>

</html>
<html>