<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>口罩预约</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <!-- 网站标志 -->
        <div class="logo fl">
            <div class="logo fl">
                <i>口罩预约</i>
            </div>
        </div>
        <!-- /网站标志 -->
        <!-- 用户信息 -->
        <div class="info">
            <div class="profile dropdown fr">
                <span class="btn dropdown-toggle" data-toggle="dropdown">
                    <%= phonenum %> 
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="/index">主页</a></li>
                    <li><a href="/user/logout">退出登录</a></li>
                </ul>
            </div>
        </div>
        <!-- /用户信息 -->
    </div>
    <!-- /头部 -->
    <!-- 主体内容 -->
    <div class="content">
        <!-- 侧边栏 -->
        <div class="aside fl">
            <ul class="menu list-unstyled">
                <li>
                    <a class="item active" href="/index">
                        <span class="glyphicon glyphicon-film"></span> 主页面
                    </a>
                </li>
                <li>
                    <a class="item active" href="/user/text">
                        <span class="glyphicon glyphicon-user"></span> 个人信息
                    </a>
                </li>
                <li>
                    <a class="item active" href="/user/result">
                        <span class="glyphicon glyphicon-hdd"></span> 订单结果
                    </a>
                </li>
                <li>
                    <a class="item active" href="/user/resordresult">
                        <span class="glyphicon glyphicon-inbox"></span> 中签结果
                    </a>
                </li>

            </ul>
            <div class="cprt">
                Powered by <a href="#" target="_blank">赵波，任滇杭，王振宇</a>
            </div>
        </div>
        <!-- 侧边栏 -->
        <div class="main">
            <!-- 分类标题 -->
            <div class="title">
                <h4>更改用户信息</h4>
            </div>
            <!-- /分类标题 -->
            <form class="form-container" action="/user/editpro" method="POST">
                <div class="form-group">
                    <label>电话</label>
                    <input type="number" name="phonenum" class="form-control">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="text" name="upassword" class="form-control">
                </div>
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" name="uname" class="form-control">
                </div>
                <div class="form-group">
                    <label>地址</label>
                    <input type="text" name="area" class="form-control">
                </div>
                <div class="form-group">
                    <label>用户类型</label>
                    <select class="form-control" name="utype" placeholder="mask type">
                        <option>普通用户</option>
                        <option>单位用户</option>
                    </select><br>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">修改</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /主体内容 -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/ckeditor5/ckeditor.js"></script>
    <script type="text/javascript">
        let editor;

        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });

        // 获取数据
        // const editorData = editor.getData();
    </script>
</body>

</html>