<style>
    .product-nav .wrap-menu {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-nav .menu {
        width: 180px;
        height: 35px;
        padding: 0 0 0 10px;
        border: 1px solid #ddd;
        font-size: 12px;
        line-height: 35px;
        margin-right: 4px;
        margin-top: 4px;
    }
    
    .product-nav a:hover {
        text-decoration: none;
    }
    
    .product-nav .menu:hover {
        background-color: #eee;
    }
</style>

<div class="product-nav">
    <div class="container">
        <div class="wrap-menu">
            <a href="/product/1">
                <div class="menu">KN95口罩</div>
            </a>
            <a href="/product/2">
                <div class="menu">普通口罩</div>
            </a>
            <a href="/product/3">
                <div class="menu">医用外科口罩</div>
            </a>
        </div>
    </div>
</div class="product-nav">